<div class="row">
  <div class="col-md-8 d-flex flex-column justify-content-between">
    <table class="table table-cv table-sm table-borderless table-responsive mb-0">
      {% for content in entry.contents %}
        <tr>
          <td class="p-1 pr-2 font-weight-bold">
            <b>{{ content.name }}</b>
          </td>
          {% if content.value %}
            <td class="p-1 pl-2 font-weight-light text">{{ content.value }}</td>
          {% endif %}
          {% if content.links %}
            <td class="p-1 pl-2 font-weight-light text">
              <div class="container-pdf">
                {% for item in content.links %}
                  {% if item.link %}
                    <div class="container-link-button">
                      {% if item.name %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.name }}</a>
                      {% else %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <div class="social-icons-horizontal mt-auto">
      <a href="{{ page.url | relative_url }}" title="CV">
        <span class="icon-cv">CV</span>
      </a>
      {% if page.profile_email %}
        <a href="mailto:{{ page.profile_email }}" title="Email">
          <i class="fa-solid fa-envelope"></i>
        </a>
      {% endif %}
      {% if page.profile_linkedin %}
        <a href="{{ page.profile_linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      {% endif %}
      {% if page.profile_rss %}
        <a href="{{ page.profile_rss }}" target="_blank" rel="noopener noreferrer" title="RSS">
          <i class="fa-solid fa-rss"></i>
        </a>
      {% endif %}
      {% if page.profile_researchgate %}
        <a href="{{ page.profile_researchgate }}" target="_blank" rel="noopener noreferrer" title="ResearchGate">
          <i class="ai ai-researchgate"></i>
        </a>
      {% endif %}
      {% if page.profile_orcid %}
        <a href="{{ page.profile_orcid }}" target="_blank" rel="noopener noreferrer" title="ORCID">
          <i class="fa-brands fa-orcid"></i>
        </a>
      {% endif %}
      {% if page.profile_scholar %}
        <a href="{{ page.profile_scholar }}" target="_blank" rel="noopener noreferrer" title="Google Scholar">
          <i class="ai ai-google-scholar"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    {% if page.profile_image %}
      {% assign profile_image_path = page.profile_image | prepend: 'assets/img/' %}
      <div class="profile-image-container">
        {%
          include figure.liquid
          loading="eager"
          path=profile_image_path
          class="img-fluid z-depth-1 rounded"
          alt=page.title
          cache_bust=true
        %}
      </div>
    {% endif %}
  </div>
</div>
