<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row education-row">
        {% if content.logo %}
          <div class="education-logo-col">
            {% assign logo_path = content.logo | prepend: 'assets/img/' %}
            <img
              src="{{ logo_path | relative_url }}"
              alt="Institution logo"
              class="education-logo"
            >
          </div>
        {% endif %}
        <div class="education-content-col">
          <div class="d-flex justify-content-between align-items-start">
            {% if content.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ content.title }}</h6>
            {% endif %}
            {% if content.year %}
              <span class="font-weight-normal text-muted ml-2" style="color: #333 !important; font-size: 1rem;">
                {{- content.year -}}
              </span>
            {% endif %}
          </div>
          {% if content.department or content.institution %}
            <div class="ml-1 ml-md-4 institution-info">
              {% if content.institution %}
                <div class="institution">{{ content.institution }}</div>
              {% endif %}
              {% if content.department %}
                <div class="department">{{ content.department }}</div>
              {% endif %}
            </div>
          {% endif %}
          {% if content.maindescription %}
            <div class="ml-1 ml-md-4">{{ content.maindescription }}</div>
          {% endif %}
          {% if content.description %}
            <ul class="items">
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li>
                          <span class="subitem">{{ subitem }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.items %}
            <ul class="items">
              {% for item in content.items %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li>
                          <span class="subitem">{{ subitem }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.linkitems %}
            <div class="container-links ml-1 ml-md-4">
              {% for item in content.linkitems %}
                {% if item.link %}
                  <div class="container-link-button">
                    {% if item.linkname %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.linkname }}</a>
                    {% else %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
